*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background: linear-gradient(rgba(32, 159, 228, 0.9),rgba(5, 233, 218, 0.927));
  /* background-image: url(/static-resume/images.jpeg);
  background-size: cover;
  background-repeat: no-repeat; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
}
.headingStyle{
  width: 90%;
  border: 0px solid;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  margin: auto;
  color: white;
  text-transform: uppercase;
}
.myheading{
  color: ivory;
  font-size: 40px;
  margin-bottom: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
#header h2{
  font-size: 30px;
}
.mt30{
  margin-top: 30px;
}
.mt40{
  margin-top: 40px;
}
.mb30{
  margin-bottom: 30px;
}
#main{
  
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-left: 4%;
  margin-right: 4%;
  padding-left: 5%;
  padding-right: 5%;
}
.p40{
  padding: 40px;
}
.round{
  margin: 20px;
  border-radius: 50px;
}
.anchor{
  display: block;
  font-size: 30px;
  text-decoration: none;
  margin-bottom:20px;
  color: white;
  font-size: 40px;

}
.para{
  font-size: 20px;
  margin-top: 20px;
  color: #fff;
}

.zoom{
  transform: scale(1);
  transition: transform 0.5s;
}
.zoom:hover{
  transform: scale(1.1);
}
footer{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}
.border{
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
}
@media (max-width:768px){
  #main{
    flex-direction: column;
  }
  #header h2{
   font-size: 25px
  }
  .myheading{
    font-size: 30px;
  }
  .headingStyle{
    width: 50%;
  }
  footer p{
    font-size: 15px;

  }

  
}