*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f0f0;
  padding: 20px;
}

#mainDiv{
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-sizing: 0px 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}
img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;

}
.personal{
  display:flex;
  justify-content: space-between;
  align-items: center;

}
.personal h1{
  font-size: 30px;
  color: #333;
}
.personal h2{
  font-size: 18px;
  margin-top: 5px;
  color: #666;
}
.contact-info{
  display:flex;
  justify-content: space-between;
  padding: 10px;
  background-color:#b5eaf1;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
}
.contact-info .para
{
  font-size: 14px;
  font-weight: 500;
}
.heading{
  font-size: 24px;
  color: #444;
  padding: 10px;
  background-color: #ececec;
  border-radius: 5px;
  margin-top: 20px;
}
.contpara{
  font-size: 16px;
  margin-top: 10px;
}
#skillSec ul{
  margin-left: 25px;
}
.btn-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}
#btnDiv{
  width: 100%;
  max-width: 800px;
  padding: 10px;
  text-align: center;
  background-color:#b5eaf1;
  border-radius: 10px;
}
.btn{
  font-size: 14px;

  font-weight: 600px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.btn:hover{
  background-color: #f0f0f0;
}
/* responsive design */
 @media(max-width:768px){
  #mainDiv,#btnDiv{
    width: 100%;
    
  }
  .personal{
    flex-direction: column;
    text-align: center;
  }
  img{
    margin-top: 20px;
  }
  .contact-info{
    flex-direction: column;
  }
  .btn{
    width: 100%;
    margin: 10px 0;
  }
  #objectiveSec{
    display: block;
  }
  #eduSec{
    display: block;
  }
  #skillSec{
    display: block;
  }
  #workExpSec{
    display: block;
  }

}